.carousel-item img {
    width: 100%;
    height: 480px;
}


#idCarusel {
    background-color: #f7f7f7;

}

#idBody {
    padding-top: 17px;
}

@media screen and (max-width: 991px) {


    .topContainer {
        width: 100%;
    }
}